:root {
  --primary: rgb(5, 5, 87);
  --secondary: rgb(31, 134, 175);
}

header {
background-color: var(--primary);
color: white;
text-align: center;
padding: .1em;

}
main {
  display: flex;
  
}
img {
  width: 10em;
}
.left {
  margin-left: 10em;
}
.right{
  margin: 5em;
}
.bar{
  background-color: var(--secondary);
  margin: 5px;
  color: var(--secondary);
}
footer {
background-color: var(--primary);
padding: 1em;
}